{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.clojure/tools.build {:mvn/version "0.10.6"}}
 :paths ["src"]

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {eftest/eftest {:mvn/version "0.6.0"}
                               cloverage/cloverage {:mvn/version "1.2.4"}
                               circleci/bond {:mvn/version "0.6.0"}}
                  :exec-fn cloverage.coverage/run-project
                  :exec-args {:test-ns-path ["test"]
                              :src-ns-path ["src"]
                              :runner :eftest
                              :runner-opts {:multithread? false}}}

           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1264"}}
                      :main-opts ["-m" "antq.core" "--no-diff"]}

           :slim {:deps {io.github.abogoyavlensky/slim {:local/root "."}
                         slipset/deps-deploy {:mvn/version "0.2.2"}}
                  :ns-default slim.lib
                  :exec-args {:lib io.github.abogoyavlensky/slim
                              :version "0.2.1"
                              :url "https://github.com/abogoyavlensky/slim"
                              :description "The slim way to build Clojure"
                              :developer "Andrey Bogoyavlenskiy"}}}}
